.list-ingredients {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipe-photo {
  border: 2px solid pink;
  border-radius: 20px;
  width: 200px;
}

.drinks-card-details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 200px;
}

.img-drinks {
  border-radius: 20px;
  width: 100%;
}

.recipe-photo:hover {
  border: 3px yellow solid;
}
.img-drinks:hover {
  border: 3px yellow solid;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  justify-content: center;
  text-align: center;
}

.container button {
  background-color: #4f9f36;
  border: 3px solid green;
  border-radius: 20px;
  font-weight: 600;
  height: 5em;
  margin-left: -80px;
  width: 30%;
}
.container button:hover {
  color: aliceblue;
}
.container button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.ingredientes {
  list-style-type: none;
}

.quantidades {
  list-style-type: none;
}
