.category {

  /* position: absolute; */
  align-items: flex-end;
  background: #c4c4c4;
  display: flex;
  font-size: 18px;
  height: 5%;
  left: 130px;
  line-height: 21px;
  margin: 3px;
  top: 75px;
  width: 105px;
}

.all-categories {
  display: flex;
  flex-wrap: wrap;
}
